.contacts {
  text-align: center;
}

.contacts__main-title {
  font-size: 24px;
  line-height: 120%;
  font-weight: 300;
}

.contacts__title {
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
}

.contacts__list {
  list-style: none;
}

.contacts__link {
  color: @basic-pink;
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  font-style: normal;
}

.contacts__map {
  min-height: 200px;
  background: url("../../img/map.jpg") no-repeat center;
}
