.contacts {
  text-align: center;
}

.contacts__info {
  padding: 45px 20px 33px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    padding: 43px 20px 22px;
  }

  @media (min-width: @desktop-width) {
    padding: 59px 130px 0;
  }
}

.contacts__main-title {
  font-size: 24px;
  line-height: 120%;
  font-weight: 300;
  margin: 0;
  padding-bottom: 35px;

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 54px;
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.contacts__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 2fr 1fr;
  }
}

.contacts__item--address {
  padding-top: 17px;

  @media (min-width: @tablet-width) {
    padding-top: 41px;
    grid-column: ~"1 / -1";
  }

  @media (min-width: @desktop-width) {
    padding-top: 0;
    grid-column: ~"2 / 3";
  }
}

.contacts__item--email {
  padding-top: 21px;

  @media (min-width: @desktop-width) {
    padding-top: 0;
    order: 3;
  }
}

.contacts__item {
  @media (min-width: @tablet-width) {
    padding-top: 34px;
  }
}

.contacts__title {
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  margin: 0;

  @media (min-width: @tablet-width) {
    padding-bottom: 4px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 21px;
  }
}

.contacts__link {
  color: @basic-pink;
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  font-style: normal;
}

.contacts__link--email,
.contacts__link--phone {
  &:hover {
    color: @basic-dark;
    text-decoration: underline;
  }

  &:active {
    color: fade(@basic-dark, 30%);
    text-decoration: none;
  }
}

.contacts__map {
  min-height: 200px;
  background: url("../../img/map/map-mobile.png") no-repeat center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 69px;
    left: 142px;
    width: 36px;
    height: 36px;
    background-color: @basic-white;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 79px;
    left: 152px;
    width: 16px;
    height: 16px;
    background-color: @basic-pink;
    border-radius: 50%;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/map/map-mobile@2x.png");
    background-size: 320px auto;
  }

  @media (min-width: @tablet-width) {
    min-height: 374px;
    background: url("../../img/map/map-tablet.png") no-repeat center;

    &::before {
      bottom: 144px;
      left: 312px;
    }

    &::after {
      bottom: 154px;
      left: 322px;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/map/map-tablet@2x.png");
      background-size: 660px auto;
    }
  }

  @media (min-width: @desktop-width) {
    min-height: 502px;
    background: url("../../img/map/map-desktop.png") no-repeat center;

    &::before {
      bottom: 202px;
      left: 582px;
    }

    &::after {
      bottom: 212px;
      left: 592px;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/map/map-desktop@2x.png");
      background-size: 1200px auto;
    }
  }
}

.contacts__map-mask {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}
