.downloadblock {
  color: @basic-white;
  text-align: center;
  font-weight: 300;
  background: url("../../img/background/hand-mobile.png") no-repeat center top 39%, url("../../img/background/background-mobile.png") no-repeat center top;
  background-color: @background-dark;
  padding: 90px 20px 31px 20px;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/background/hand-mobile@2x.png"), url("../../img/background/background-mobile@2x.png");
    background-size: 320px auto;
  }

  @media (min-width: @tablet-width) {
    padding-top: 204px;
    padding-bottom: 113px;
    background: url("../../img/background/hand-tablet.png") no-repeat center bottom, url("../../img/background/background-tablet.png") no-repeat center top;
    background-color: @background-dark;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/background/hand-tablet@2x.png"), url("../../img/background/background-tablet@2x.png");
      background-size: 660px auto;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 114px 130px 130px;
    background: url("../../img/background/hand-desktop.png") no-repeat right bottom, url("../../img/background/background-desktop.png") no-repeat center bottom;
    background-color: @background-dark;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/background/hand-desktop@2x.png"), url("../../img/background/background-desktop@2x.png");
      background-size: 1050px auto, 1200px auto;
    }
  }
}

.downloadblock__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: @tablet-width) {
    margin-right: 320px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 636px;
  }
}

.downloadblock__text {
  font-size: 24px;
  line-height: 120%;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.downloadblock__button {
  color: @basic-white;
  font-size: 18px;
  border: 3px solid @basic-white;
  background-color: transparent;
  margin-top: 348px;
  margin-bottom: 32px;
  width: 254px;

  &:hover {
    color: @basic-pink;
    background-color: @basic-white;
  }

  &:active {
    color: fade(@basic-pink, 30%);
    background-color: @basic-white;
  }

  @media (min-width: @tablet-width) {
    margin-top: 30px;
    margin-bottom: 46px;
    width: 274px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 51px;
    margin-bottom: 67px;
    font-size: 21px;
  }
}

.downloadblock__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 35px;
}

.downloadblock__link {
  display: block;
}

.downloadblock__icon {
  display: block;
}

.downloadblock__desc {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  padding-top: 21px;

  @media (min-width: @tablet-width) {
    padding-top: 33px;
    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 58px;
  }
}
