.downloadblock {
  color: @basic-white;
  text-align: center;
  font-weight: 300;
  background: url("../../img/background/hand-mobile.png") no-repeat center bottom, url("../../img/background/background-mobile.jpg") no-repeat center;
  background-color: @background-dark;
}

.downloadblock__text {
  font-size: 24px;
  line-height: 120%;
}

.downloadblock__button {
  color: @basic-white;
  border: 3px solid @basic-white;
  padding: 15px 35px;
  background-color: transparent;
}

.downloadblock__list {
  list-style: none;
}

.downloadblock__desc {
  font-size: 14px;
  line-height: 24px;
}
