.features {
  background: url("../../img/iphone/iphone_mobile.png") no-repeat center bottom, url("../../img/background/background-grey-mobile.png") no-repeat center;
  line-height: 24px;
  min-height: 828px;
}

.features__wrapper {
  text-align: center;
}

.features__list {
  list-style: none;
}

.features__text {
  font-size: 24px;
  line-height: 120%;
  font-weight: 300;
}

.features__title {
  font-size: 18px;
  font-weight: 700;
}
