.logo__icon-picture {
  padding-right: 9px;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.logo__icon-picture--hidden {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}

.logo__icon-text {
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.logo__icon-all {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.logo--header {
  .logo__icon-picture,
  .logo__icon-text,
  .logo__icon-all {
    fill: @basic-white;
  }

  &:hover .logo__icon-picture,
  &:hover .logo__icon-text,
  &:hover .logo__icon-all {
    fill: @basic-pink;
  }

  &:active .logo__icon-picture,
  &:active .logo__icon-text,
  &:active .logo__icon-all {
    fill-opacity: 0.3;
  }
}

.logo--footer {
  .logo__icon-picture {
    fill: @basic-pink;
  }

  .logo__icon-text,
  .logo__icon-all {
    fill: @basic-dark;
  }

  &:hover .logo__icon-picture,
  &:hover .logo__icon-text,
  &:hover .logo__icon-all {
    fill: @basic-pink;
  }

  &:active .logo__icon-picture,
  &:active .logo__icon-text,
  &:active .logo__icon-all {
    fill-opacity: 0.3;
  }
}
