.page-footer {
  text-align: center;
}

.page-footer__wrapper {
  padding: 40px 20px;
  display: grid;

  @media (min-width: @tablet-width) {
    padding: 36px 20px;
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: @desktop-width) {
    padding: 70px 130px 75px;
  }
}

.page-footer__logo {
  &:hover path {
    fill: @basic-pink;
  }

  &:active path {
    fill-opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    align-self: center;
    text-align: start;
  }
}

.page-footer__social {
  padding: 38px 0;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}
