.page-header {
  grid-row: ~"1 / 2";
  grid-column: ~"1 / -1";
  order: 2;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
  background-color: @basic-dark;

  @media (min-width: @desktop-width) {
    padding-left: 130px;
    padding-right: 130px;
    flex-direction: row;
    justify-content: space-between;
    background-color: fade(@basic-black, 30%);
  }
}

.page-header__wrapper--closed {
  display: flex;
  flex-direction: column;
  background-color: fade(@basic-black, 30%);
}

.page-header__logo {
  padding: 23px 20px 13px;

  .logo__icon-picture,
  .logo__icon-text,
  .logo__icon-all {
    fill: @basic-white;
  }

  &:hover .logo__icon-picture,
  &:hover .logo__icon-text,
  &:hover .logo__icon-all {
    fill: @basic-pink;
  }

  &:active .logo__icon-picture,
  &:active .logo__icon-text,
  &:active .logo__icon-all {
    fill-opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    padding: 27px 20px 33px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
  }
}
