.page-footer {
  text-align: center;
}

.page-footer__wrapper {
  padding: 41px 20px;
  display: grid;

  @media (min-width: @tablet-width) {
    padding: 36px 20px;
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: @desktop-width) {
    padding: 70px 130px 75px;
  }
}

.page-footer__logo {
  .logo__icon-picture {
    fill: @basic-pink;
  }

  .logo__icon-text,
  .logo__icon-all {
    fill: @basic-dark;
  }

  &:hover .logo__icon-picture,
  &:hover .logo__icon-text,
  &:hover .logo__icon-all {
    fill: @basic-pink;
  }

  &:active .logo__icon-picture,
  &:active .logo__icon-text,
  &:active .logo__icon-all {
    fill-opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    align-self: center;
    text-align: start;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 14px;
  }
}

.page-footer__social {
  padding: 28px 0 38px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}
