.social__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social__item:not(:last-of-type) {
  padding-right: 8px;

  @media (min-width: @desktop-width) {
    padding-right: 5px;
  }
}

.social__link svg {
  display: block;
}

.social__link {
  .social__icon {
    color: fade(@basic-dark, 10%);
  }

  &:hover .social__icon {
    color: @basic-dark;
  }

  &:active .social__icon {
    fill-opacity: 0.3;
  }
}
