.table {
  background-color: @basic-white;
  text-align: left;
  border-collapse: collapse;
}

.table__row-title {
  color: @basic-white;
  background-color: @basic-dark;
  text-align: center;
  border: 2px solid @basic-dark;
}

.table__cell-title--special {
  border-left: 2px solid @basic-gray;
  border-right: 2px solid @basic-gray;
}

.table__cell {
  border: 2px solid @basic-border;
}
