.button {
  min-width: 276px;
  color: @basic-white;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: @button-green;
  border: 2px solid @button-green;
  border-radius: 1px;
  padding: 23px 10px 23px 10px;
}
