.fieldset-applications {
  border: none;
  margin: 0;

  @media (min-width: @tablet-width) {
    border: 2px solid @basic-border;
  }
}

.fieldset-applications__title {
  color: @basic-pink;
  text-transform: uppercase;
  line-height: 18px;
  text-align: center;
  position: relative;
  top: 42px;

  @media (min-width: @tablet-width) {
    position: static;
    line-height: 30px;
    padding: 0 25px;
  }
}

.fieldset-applications__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    padding-left: 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 41px 0 57px 74px;
  }
}

.fieldset-applications__item--center {
  padding-top: 53px;
  padding-bottom: 53px;

  @media (min-width: @desktop-width) {
    padding-top: 44px;
    padding-bottom: 44px;
  }
}

.fieldset-applications__label {
  font-size: 18px;
  padding-left: 68px;
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.fieldset-applications__input + .fieldset-applications__label {
  &::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 0;
    width: 37px;
    height: 37px;
    border: 2px solid @basic-border;
    background-color: @basic-white;
    border-radius: 50%;
  }
}

.fieldset-applications__input:checked + .fieldset-applications__label {
  &::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 13px;
    width: 15px;
    height: 15px;
    background-color: @basic-pink;
    border-radius: 50%;
  }
}

.fieldset-applications__input:hover + .fieldset-applications__label {
  &::before {
    border-color: @basic-dark;
  }
}

.fieldset-applications__input:active + .fieldset-applications__label {
  &::before {
    border-color: @basic-pink;
  }
}
