.fieldset-desc {
  border: none;

  @media (min-width: @tablet-width) {
    border: 2px solid @basic-border;
  }
}

.fieldset-desc__title {
  color: @basic-pink;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  top: 38px;

  @media (min-width: @tablet-width) {
    line-height: 30px;
    position: static;
    padding: 0 38px;
  }
}

.fieldset-desc__text {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  padding: 14px 10px 3px 20px;
  border: 2px solid @basic-border;
  background-color: transparent;
  min-height: 180px;

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
    padding-left: 18px;
    min-height: 177px;
  }

  @media (min-width: @desktop-width) {
    min-height: 112px;
    padding-top: 10px;
  }

  &::placeholder {
    color: @basic-dark;
  }

  &:hover {
    border-color: @basic-black;
  }

  &:active {
    border-color: @basic-pink;
  }
}
