.fieldset-applications {
  border: none;
}

.fieldset-applications__title {
  color: @basic-pink;
  text-transform: uppercase;
  line-height: 18px;
  text-align: center;
}

.fieldset-applications__list {
  list-style: none;
}

.fieldset-applications__label {
  font-size: 18px;
}
