.fieldset-contacts {
  border: none;

  @media (min-width: @tablet-width) {
    border: 2px solid @basic-border;
  }

  @media (min-width: @desktop-width) {
    padding-top: 6px;
  }
}

.fieldset-contacts__title {
  color: @basic-pink;
  text-transform: uppercase;
  text-align: center;
  line-height: 30px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: @tablet-width) {
    padding: 0 31px;
  }
}

.fieldset-contacts__title--hidden {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}

.fieldset-contacts__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    gap: 7px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 74px;
  }
}

.fieldset-contacts__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    padding-top: 17px;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    padding-top: 20px;
  }
}

.fieldset-contacts__item--icon-phone {
  @media (min-width: @tablet-width) {
    &::before {
      content: "";
      position: absolute;
      top: 19px;
      right: 2px;
      width: 59px;
      height: 59px;
      background: url("../../../img/icon-phone.svg") no-repeat;

      @media (min-width: @desktop-width) {
        top: 22px;
        right: 0;
      }
    }
  }
}

.fieldset-contacts__item--icon-email {
  @media (min-width: @tablet-width) {
    &::before {
      content: "";
      position: absolute;
      top: 19px;
      right: 2px;
      width: 59px;
      height: 59px;
      background: url("../../../img/icon-email.svg") no-repeat;

      @media (min-width: @desktop-width) {
        top: 22px;
      }
    }
  }
}

.fieldset-contacts__label {
  color: @basic-pink;
  text-transform: uppercase;
  padding: 19px 0 4px 23px;

  @media (min-width: @tablet-width) {
    order: 2;
    padding: 11px 0 4px 19px;
  }
}

.fieldset-contacts__input {
  color: @basic-dark;
  font-size: 18px;
  line-height: 30px;
  padding: 15px 10px 14px 20px;
  border: 2px solid @basic-border;
  background-color: transparent;

  &::placeholder {
    color: @basic-dark;
  }

  &:hover {
    border-color: @basic-black;
  }

  &:active {
    border-color: @basic-pink;
  }
}
