.fieldset-desc {
  border: none;
  margin: 0;
  padding: 42px 20px 52px 20px;
}

.fieldset-desc__title {
  color: @basic-pink;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
}

.fieldset-desc__text {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  padding: 22px 25px 132px 20px;
  border: 2px solid @basic-border;
  background-color: transparent;
}
