.fieldset-progress {
  border: none;
  background-color: @basic-gray;
}

.fieldset-progress__title {
  color: @basic-pink;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
}

.fieldset-progress__list {
  list-style: none;
}

.fieldset-progress__label {
  font-size: 18px;
}
