.fieldset-progress {
  border: none;
  background-color: @basic-gray;
  margin: 0;
  padding: 42px 20px 44px 20px;
}

.fieldset-progress__title {
  color: @basic-pink;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
}

.fieldset-progress__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.fieldset-progress__label {
  font-size: 18px;
}
