.page-title {
  color: @basic-white;
  text-align: center;
  background: url("../../../img/background/background-mobile.png") no-repeat center top;
  background-size: cover;
  background-color: @background-dark;
  padding: 0 20px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-resolution: 2dppx) {
    background-image: url("../../../img/background/background-mobile@2x.png");
  }

  @media (min-width: @tablet-width) {
    background: url("../../../img/background/background-tablet.png") no-repeat center top;
    background-size: cover;
    background-color: @background-dark;

    @media (min-resolution: 2dppx) {
      background-image: url("../../../img/background/background-tablet@2x.png");
    }
  }

  @media (min-width: @desktop-width) {
    padding: 0 130px 0;
    background: url("../../../img/background/background-desktop.png") no-repeat center top;
    background-size: cover;
    background-color: @background-dark;

    @media (min-resolution: 2dppx) {
      background-image: url("../../../img/background/background-desktop@2x.png");
    }
  }
}

.page-title__heading {
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  padding-top: 94px;
  padding-bottom: 44px;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 50px;
    line-height: 68px;
    padding-top: 176px;
    padding-bottom: 60px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 169px;
    padding-bottom: 89px;
  }
}

.page-title__hidden {
  @media (min-width: @desktop-width) {
    display: none;
  }
}
