.page-form__wrapper {
  display: grid;
}

.page-form__text {
  text-align: center;
  margin: 0;
  padding: 45px 20px 16px;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    padding: 91px 85px 72px;
  }

  @media (min-width: @desktop-width) {
    padding: 91px 222px 65px;
  }
}

.page-form__text-hidden {
  @media (max-width: @mobile-width-only) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: inline;
  }
}
