.popup-preview {
  text-align: center;
}

.popup-preview__wrapper-text {
  padding: 38px 20px;

  @media (min-width: @tablet-width) {
    padding: 43px 41px 32px;
  }

  @media (min-width: @desktop-width) {
    padding: 43px 201px 41px;
  }
}

.popup-preview__wrapper-button {
  padding: 50px 20px;
  background-color: @basic-gray;

  @media (min-width: @tablet-width) {
    padding: 50px 80px;
  }

  @media (min-width: @desktop-width) {
    padding: 50px 160px;
  }
}

.popup-preview__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 40px;
  }
}

.popup-preview__text {
  line-height: 24px;
  margin: 0;
  padding-top: 25px;

  @media (min-width: @tablet-width) {
    font-size: 18px;
  }
}

.popup-preview__button {
  @media (min-width: @desktop-width) {
    min-width: 460px;
  }
}
