.popup-tooltip {
  display: none;
  text-align: center;
  position: fixed;
  top: 400px;
  right: 0;
  bottom: auto;
  left: 0;
  margin: auto;
  background-color: @basic-white;
  width: 320px;
  box-shadow: 0 7px 15px @popup-shadow;

  @media (min-width: @tablet-width) {
    width: 460px;
  }

  @media (min-width: @desktop-width) {
    width: 780px;
  }
}

.popup-tooltip__wrapper-text {
  padding: 38px 20px 41px;

  @media (min-width: @tablet-width) {
    padding: 43px 55px 31px;
  }

  @media (min-width: @desktop-width) {
    padding: 43px 214px 61px;
  }
}

.popup-tooltip__wrapper-button {
  padding: 0 20px 50px;

  @media (min-width: @tablet-width) {
    padding: 0 80px 52px;
  }

  @media (min-width: @desktop-width) {
    padding: 50px 240px;
    background-color: @basic-gray;
  }
}

.popup-tooltip__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 40px;
  }
}

.popup-tooltip__title-hidden {
  @media (max-width: @mobile-width-only) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: inline;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.popup-tooltip__text {
  line-height: 24px;
  margin: 0;
  padding-top: 25px;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    padding-left: 14px;
    padding-right: 14px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
    padding-right: 0;
  }
}
