.photo-blog__title {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 44px 20px 50px;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    padding: 92px 46px 76px;
  }

  @media (min-width: @desktop-width) {
    padding: 92px 130px 88px;
  }
}

.photo-blog__title-hidden {
  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: inline;
  }
}

.photo-blog__item--panorama {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 20px;
    width: 140px;
    height: 36px;
    background-color: @basic-pink;
  }

  &::after {
    content: "ПАНОРАМА ДНЯ";
    position: absolute;
    top: 6px;
    right: 40px;
    color: @basic-white;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
  }

  @media (min-width: @tablet-width) {
    &::before {
      top: 57px;
    }

    &::after {
      top: 63px;
    }
  }

  @media (min-width: @desktop-width) {
    &::before {
      top: 54px;
      right: 130px;
    }

    &::after {
      top: 60px;
      right: 150px;
    }
  }
}

.photo-blog__list {
  padding: 20px 20px 0;
  display: grid;
  gap: 20px;

  @media (min-width: @tablet-width) {
    padding-top: 50px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: @desktop-width) {
    padding: 50px 130px 0;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 54px;
    column-gap: 20px;
  }
}
