.post {
  line-height: 24px;
}

.post__wrapper--panorama {
  padding-left: 20px;
  padding-right: 20px;
}

.post__author {
  font-weight: 700;
  padding-right: 3px;
}

.post__note {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.post__counter {
  color: @basic-pink;
  font-size: 12px;
  text-transform: uppercase;
}

.post__button {
  width: 13px;
  height: 12px;
  background: url("../../../img/photo_blog/heart.svg") no-repeat;
  background-color: transparent;
  border: none;
}
